*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family:Megafont;
    src: url(../fonts/fontmega/Megafont.ttf);
}

@font-face {
    font-family:Rational;
    src: url(../fonts/fontrational/ratio___.ttf);
}

@font-face {
    font-family:Ruberoid;
    src: url(../fonts/fontruberoid/Ruberoid-Light.otf);
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    box-sizing: border-box;
    background-color: $color-black;
    color: $color-white;
    font-family: Ruberoid;

}

a,a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: Megafont;
}


::-webkit-scrollbar {
    width: .5rem;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: $color-purple;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba($color-purple, 0.8);
}

p{
    margin-bottom:0 ;
    // color: rgba($color-black, .5);
}


// p,span{
//     font-family: 'Nanum Gothic', sans-serif;
// }

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
    background-color: none;

    &:focus{
        outline: none;
    }
}

input{
    &:focus{
        outline: none;
    }
}